@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>066 7112345</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>066 7154321</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Noreen:</span>
        <span><a href="mailto:noreen@hotmail.com">Noreen's email</a></span>
    </p>
    <p>
        <span class="label">Marta:</span>
        <span><a href="mailto:marta@hotail.com">Marta's email</a></span>
    </p>
    <p>
        <span class="label">Catherine:</span>
        <span><a href="mailto:catherine@hotmail.com">Catherine's email</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Kerry Technology Park,<br />
        Tralee,
        Co. Kerry
    </p>
</section>