@{
    ViewBag.Title = "This is my homepage";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               I'm learning all about ASP.net MVC applications. You can too at the following website:
                <a href="https://msdn.microsoft.com/en-us/library/dd410597(v=vs.100).aspx"> 
                here</a>.
            </p>
        </div>
    </section>
}
<h3>This is what I've done so far:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
       I found a useful tutorial at this 
        <a href="https://msdn.microsoft.com/en-us/library/dd410597(v=vs.100).aspx">website</a>
    </li>

    <li class="two">
        <h5>Problem solving</h5>
        I imported references and adjusted names of source code 
        <a href="http://stackoverflow.com/questions/20705486/cant-create-test-in-vs2013-no-microsoft-visualstudio-testtools-unittesting-nam">
            I found some guidance here
        </a>
    </li>

    <li class="three">
        <h5>Customising</h5>
        I went through the source code to see which code corrosponded to which section in the MVC app. 
        I did this by adjusting the code then running the application to see what had changed. 
        I'm using <a href="http://blogs.msdn.com/b/sharepointdesigner/archive/2007/05/23/plotting-your-data-using-virtual-earth.aspx?PageIndex=2">
        this</a> to help me with the map
    </li>
</ol>
